- mnemonic: "{{ .StakingContractSeedMnemonic }}"  # a 24 word BIP 39 mnemonic
  # Needs to be at least 64 (hardcoded number of validators required)
  # This is because we need to have 32 unique validators for this epoch, and 32 for the next
  count: 100